/* Variables */
$red-color: #F51F1F;
$yellow-color: #F5BB00;
$orange-color: #EC9F05;
$green-color: #8EA604;
$black-color: #0D0106;

/* Styles */

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: $black-color;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

td {
	padding: 12px;
}

#app section {
    padding-bottom: 50px; // to account for nav

    h1 {
        margin: 0;
        padding-top: 5%;
        padding-left: 6px;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: $black-color solid 7px;
        transition: all 1s;
    }
}

svg {
    height: 100px;
    width: 100px;
}

#navToggle {
    visibility: hidden;

    &:checked ~ #nav {
        height: 100% !important;
    }
}


#nav a {
        text-decoration: none;
        color: $black-color;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
    }

/* TODO use sass function? */
.search {
    h1 {
        background-color: $green-color;
        box-shadow: 0 15px 0 $green-color;
    }
    ~ div label[for=navToggle] { color: $yellow-color; }
    ~ div #nav { background: $yellow-color; }
}

.invite {
    h1 {
        background-color: $yellow-color;
        box-shadow: 0 15px 0 $yellow-color;
    }
    ~ div label[for=navToggle] { color: $orange-color; }
    ~ div #nav { background: $orange-color; }
}

.venue {
    h1 {
        background-color: $orange-color;
        box-shadow: 0 15px 0 $orange-color;
    }
    ~ div label[for=navToggle] { color: $red-color; }
    ~ div #nav { background: $red-color; }
}

.about {
    h1 {
        background-color: $red-color;
        box-shadow: 0 15px 0 $red-color;
    }
    ~ div label[for=navToggle] { color: $green-color; }
    ~ div #nav { background: $green-color; }
}


@media only screen and ( min-width: 1085px ) {
    /* to style for desktop:
        - results on search page

    */
}
